:root {
  --black: #000000;
  --dark-blue: #283136;
  --basic-dark-grey: #4D4D4D;
  --lead-grey: #666666;
  --very-dark-grey: #D5D5D5;
  --dark-grey: #DFDFDF;
  --basic-grey: #EEEEEE;
  --light-grey: #E1E1E1;
  --white: #FFFFFF;
  --red: #FB565A;
  --dark-red: #E74246;
  --very-dark-red: #D7373B;
  --green: #00CA74;
  --dark-green: #00BC6C;
  --very-dark-green: #00AA62;
  --yellow: #EFC849;
  --dark-yellow: #EAB534;
  --very-dark-yellow: #E5A722;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-blue);
  background-color: var(--white);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header*/
.main-navigation {
  color: var(--black);
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
}

.main-navigation-wrapper {
  background: var(--basic-grey);
}

.site-navigation {
  list-style: none;
  text-align: center;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--red);
}

.site-navigation__link:active {
  color: var(--black);
  opacity: 0.3;
}

/* index-main*/
.carousel {
  background-color: var(--basic-grey);
}

.work-list {
  list-style: none;
  text-align: left;
}

.work-list__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.work-list-container {
  width: 300px;
  height: auto;
}

.description__list {
  list-style: none;
}

.features__list {
  list-style: none;
}

.features__list--item {}

.features__list--item-grade {
  font: var(--black);
  font-size: 45px;
}

/*buttons*/
.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--red);
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--dark-red);
}

.button:active {
  background-color: var(--very-dark-red);
  color: rgba(var(--white), 0.3);
}

.button-app {
  background-color: var(--green);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--dark-green);
}

.button-app:active {
  background-color: var(--very-dark-green);
  color: rgba(var(--white), 0.3);
}

.button-presentation {
  background-color: var(--yellow);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--dark-yellow);
}

.button-presentation:active {
  background-color: var(--very-dark-yellow);
  color: rgba(var(--white), 0.3);
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover,
.partners__link:focus {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

/*catalog-main*/
.catalog-list {
  list-style: none;
}

.pagination {}

.pagination-button {
  width: 50px;
  height: 50px;
  margin: 0 4px;
  background: var(--basic-grey);
  border-radius: 3px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  padding: 8px 16px;
}

.pagination-button:hover {
  background-color: var(--dark-grey);
}

.pagination-button:active {
  background-color: var(--very-dark-grey);
  color: rgba(var(--black), 0.3);
}

/*footer*/
.contacts-phone {
  color: inherit;
}

.social-links__item {
  background-color: var(--light-grey);
  border-radius: 50%;
  width: 81px;
  height: 81px;
  list-style: none;
}

.social-links__item:focus,
.social-links__item:hover {
  background-color: var(--dark-red);
}

.social-links__item:active {
  background-color: var(--very-dark-red);
}

 .social-links__icon:active {
   opacity: 0.3;
 }
