:root {
  --black: #000000;
  --black-transparent: 0, 0, 0, 0.3;
  --dark-blue: #283136;
  --basic-dark-grey: #4D4D4D;
  --lead-grey: #666666;
  --very-dark-grey: #D5D5D5;
  --dark-grey: #DFDFDF;
  --grey67: #ABABAB;
  --basic-grey: #EEEEEE;
  --light-grey: #888888;
  --white: #FFFFFF;
  --white-transparent: 255, 255, 255, 0.3;
  --red: #FB565A;
  --dark-red: #E74246;
  --very-dark-red: #D7373B;
  --green: #00CA74;
  --dark-green: #00BC6C;
  --very-dark-green: #00AA62;
  --yellow: #EFC849;
  --dark-yellow: #EAB534;
  --very-dark-yellow: #E5A722;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-blue);
  background-color: var(--white);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header*/
.main-navigation {
  color: var(--black);
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
}

.main-navigation-wrapper {
  background: var(--basic-grey);
}

.site-navigation {
  list-style: none;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--red);
}

.site-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.site-navigation-item {
  display: inline-block;
}

/* index-main*/
.carousel {
  background-color: var(--basic-grey);
}

.work-list {
  list-style: none;
  text-align: left;
}

.work-list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.work-list-container {
  width: 300px;
  height: auto;
  display: inline-block;
}

.description-list {
  list-style: none;
}

.features-list {
  list-style: none;
}

.features-item {
  display: inline-block;
  width: 110px;
  height: 110px;
}

.features-item>p:first-child {
  font: var(--black);
  font-size: 45px;
}

/*buttons*/
.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--red);
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--dark-red);
}

.button:active {
  background-color: var(--very-dark-red);
  color: var(--white-transparent);
}

.button-app {
  background-color: var(--green);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--dark-green);
}

.button-app:active {
  background-color: var(--very-dark-green);
  color: var(--white-transparent);
}

.button-presentation {
  background-color: var(--yellow);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--dark-yellow);
}

.button-presentation:active {
  background-color: var(--very-dark-yellow);
  color: var(--white-transparent);
}

/*catalog-main*/
.catalog-list {
  list-style: none;
}

.pagination {
  display: inline-block;
  display: flex;
}

.pagination a {
  width: 50px;
  height: 50px;
  margin: 0 4px;
  background: var(--basic-grey);
  border-radius: 3px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  padding: 8px 16px;
}

.pagination a:hover {
  background-color: var(--dark-grey);
}

.pagination a:active {
  background-color: var(--very-dark-grey);
  color: var(--black-transparent);
}

/*footer*/
.contact-phone {
  color: inherit;
}

.social-link {
  display: inline-block;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  list-style: none;
}
