:root {
  --black: #000000;
  --dark-blue: #283136;
  --basic-dark-grey: #4D4D4D;
  --lead-grey: #666666;
  --dark-grey: #D7DCDF;
  --grey67: #ABABAB;
  --basic-grey: #EEEEEE;
  --light-grey: #888888;
  --white: #FFFFFF;
  --red: #FB565A;
  --green: #00CA74;
  --dark-green: #00BC6C;
  --very-dark-green: #00AA62;
  --yellow: #EFC849;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-blue);
  background-color: transparent;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* header*/

.main-navigation {
  color: var(--black);
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
}

.main-navigation-wrapper {
  background: var(--basic-grey);
}

.site-navigation {
  list-style: none;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--red);
}

.site-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.site-navigation-item {
  display: inline-block;
}

/* index-main*/

.carousel {
  background: var(--basic-grey);
}

.work-list {
  list-style: none;
  text-align: left;
}

.work-list-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.work-list-item {
}

.work-list-container {
  width: 300px;
}

/*buttons*/

.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--red);
  border-radius: 3px;
}

.button-web {

}

.button-app {
  background-color: var(--green);
}

.work-list a:hover,
.work-list a:focus {
  background-color: var(--dark-green);
}

.work-list a:active {
  background-color: var(very-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-presentation {
  background-color: var(--yellow);

}

/*catalog-main*/

.page-numbers {
  list-style: none;
}
/*footer*/

.page-footer {

}

.contact-phone {
  color: inherit;
}

.social-links {
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  list-style: none;
}
